.botao:hover{
			background-color: black;
			color:#EACE21;
			text-transform: uppercase;
		}


		.botao{
			display: block;
			background-color: #EACE21;
			color: #FFFFFF;
			font-weight: bold;
			width: 200px;
			height: 40px;
			text-decoration: none;
			text-align: center;
		    
		    border-radius: 20px;
            
		    border-color: deeppink;
		    border-width: 1px;
		    border-style:solid;
		    border-top-color: blue;
		    border-bottom-color:blue;
            /*border: 1px solid black;*/


			
		}

		.imagem{
			background-image: url("../imagens/pc.gif");
			height:320px;
			background-repeat: no-repeat;
			background-position: top right;

		}

		.campo-texto{
			border:0;
			border-bottom: 1px solid red;
		}

		.campo-texto:focus{
			outline:none;
			border-bottom: 1px solid yellow;
		}